/* general */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif', serif;
  font-size: 15px;
  margin-top: 80px;
}



/* debug */
.debug [class*="col-"] {
  border: 1px solid red;
}
.debug .row {
  border: 2px solid black;
}
.debug .container {
  background-color: lightyellow;
}


/* utility */
 .ms_btn_blue {
   background-color: lightblue;
   color: white;
 }

 .ms_shadow {
   box-shadow: 2px 3px #e4dcdc;
 }

 .ms_standard_p_t_b{
   padding: 60px 0;
 }

 .ms_bg_blue {
   background-color: darkblue;
 }

ul {list-style: none;}

/* header */

.ms_header_top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: white;
}

#brand_logo{
  width: 100%;
}

.ms_h_logo {
  width: 180px;
}

.ms_menu_nav li a {
  color: black;
  font-weight: normal;
}
.menu_menu_nav li a:hover {
  color: #006aff;
  text-decoration: none;
}

.ms_menu_mobile i {
  font-size: 40px;
  color: #006aff;
  line-height: 80px;
  padding-right: 20px;
  cursor: pointer;
}


/* main */

.ms_brand_inline {
  height: 150px;

}

.ms_brand_inline img {
  height: 100%;
  max-width: 100%;
}



.ms_element {
  padding: 0 5px 25px;
}


/* footer */
